body {
  background-color: #dda;
}

div.main_view {
  background-color: #ddf;
  width: 650px;
  outline: #111 solid thin;
  padding: 10px;
  text-align: center;
  margin-left: 250px;
}

h2.topline {
  text-align: center;
}

div.content {
  width: 600px;
  font-size: 12pt;
}

a {
  color: #60a;
}

a:hover {
  color: #f00;
}

a:visited {
  color: #508;
}

/* Header */
header h1 {
  font-size:  250%;
  margin-left: 250px;
}

/* Footer */
footer p {
  font-size: 8pt;
}

/* Navigation Bar */
nav#navigation_bar {
  float: left;
  outline: #111 solid thin;
}

nav#navigation_bar ul {
  list-style-type: none;
  padding: 10px;
}

nav#navigation_bar ul li {
  padding: 2px;
}

/* Node show page */
div#node {
  float: center;
}

span.node_title {
  font-size: 200%;
}

span.node_body {
  font-size: 150%;
}

div#children {
  text-align: center;
  line-height: 150%;
}

a.child_link {
}
div#node a {
}

div#node a:hover {
  color: #f00;
}

/* Form elements */
div.field {
  padding-bottom: 20px;
}

div label {
  font-size: 120%;
  color: #600;
}

div#node_action_desc_counter {
  font-size: 80%;
}

div#node_body_counter {
  font-size: 80%;
}

div#node_title_counter {
  font-size: 80%;
}

div.node_title {
  padding-bottom: 0px;
}
