<h2 class="topline">
  Welcome to Adventure on Rails!
</h2>
<div class="content">
  <p><%= link_to "Adventure on Rails", root_path %>
      is the Ruby on Rails based user extendable Choose Your Own Adventure, where you can tell the story!
  </p>
  <p>
    <%= link_to "Let the story begin!", Node.find(1) %>
  </p>
</div>
