<nav id="navigation_bar">
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Contact Us", 'mailto:michael.brown6@my.jcu.edu.au' %></li>
  </ul>
</nav>
